<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Sinatra Blog</title>
	<link rel='stylesheet' href='/css/style.css' />
	<link href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css' rel='stylesheet' />
</head>
<body>
	<div class="container">
		<nav class="navbar">
			<ul>
				<% if session[:user_id] %>
					<p>ようこそ、<%= @user.name %>さん</p>
					<a href=<%= "/user/#{session[:user_id]}" %>>マイページ</a>
				<% else %>
					<a class="btn btn-info" href=<%= '/login' %>>ログイン</a>
					<a class="btn btn-warning" href=<%= '/signup' %>>新規登録</a>
				<% end %>

				<li><a class="btn btn-danger" href="/login">Home</a></li>
				<li><a class="btn btn-success" href="/user">ユーザー一覧</a></li>
				<li><a class="btn btn-primary" href="/">投稿</a></li>
			</ul>
		</nav>
		<%= yield %>
	</div>
</body>
</html>
