<h2>投稿一覧</h2>
<table>
  <tr class="row">
    <th class="col">タイトル</th>
    <th class="col">投稿内容</th>
    <th class="col">投稿者id</th>
    <th class="col">投稿者</th>
    <th class="col">投稿日時</th>
    <th class="col">更新日時</th>
  </tr>
  <% @posts.each do |post| %>
    <tr class="row">
      <td class="col"><a href="post/<%= post.id %>"><%= post.title %></a></td>
      <td class="col"><%= post.body %></td>
      <td class="col"><%= post.user_id %></td>
      <td class="col"><%#= post.user.name %></td>
      <td class="col"><%= post.created_at.strftime('%Y/%m/%d %H:%M:%S') %></td>
      <td class="col"><%= post.updated_at.strftime('%Y/%m/%d %H:%M:%S') %></td>
   </tr>
  <% end %>
</table>

<h2>新規投稿</h2>
<form method="post" action="/post">
  <label for="title">タイトル：</label>
  <input type="text" name="title">
  <label for="body">投稿内容：</label>
  <input type="text" name="body">
  <button type="submit">投稿する</button>
</form>
